<div class="menu" ng-controller="MenuController">
  <form class="form-inline">
    <select class="form-control" style="width:200px;" ng-model="file" ng-options="file as file.name for file in files"></select>
    <button type="button" class="btn btn-primary" ng-click="addSound(file)" ng-disabled="!file">add sound</button>
  </form>
</div>

<svg class="display" ng-mousemove="updateNode($event)" ng-mouseup="stopMove()" ng-mouseleave="stopMove()">


  <g ng-repeat="fileNode in fileNodes"
     ng-mousedown="startMove($event, fileNode)"
     transform="translate({{ fileNode.x }}, {{ fileNode.y }})">
    <circle
      cx="-25" cy="-25"
      r="50"/>
    <text
      x="-25" y="45"
      font-family="sans-serif"
      font-size="16px"
      text-anchor="middle"
      fill="white">
      {{ fileNode.file.name }}
    </text>
  </g>


  <path ng-repeat="line in lines"
    d="M {{ line.start.x }} {{ line.start.y }} L {{ line.end.x }} {{ line.end.y }}"
        stroke="blue" stroke-width="3" />


</svg>